body {
    font-family: 'Times New Roman', bold;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(images/1339216.jpg); 
    background-size: cover; 
    background-attachment: fixed;	
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.25);
}

h1 {
    font-family: 'Segoe Script', bold;
    font-size: 48px;
	text-align: center;
    color: #00FFFF; 
	-webkit-text-stroke: 1.5px blue; 	
}

p {
    font-weight: bold; 
	font-size: 24px;
    color: #00FFFF; 
    -webkit-text-stroke: 1px blue; 
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
	border: 5px solid pink;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); 
}

div {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFB6C1; 
    border: 2px solid red;
	border-radius: 20px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

ul {
    padding-left: 20px;
	font-size: 18px;
    color: #00FFFF; 
    -webkit-text-stroke: 0.5px blue;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-small {
	font-size: 15px;
    color: #00FFFF; 
    -webkit-text-stroke: 0.3px blue;
}

.text-medium {
	font-weight: bold; 
	font-size: 32px;
    color: #00FFFF; 
    -webkit-text-stroke: 1.3px blue;
}	

.email {
    display: inline-block;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: gold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none; 
    color: black; 
}

